html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap', rel='stylesheet')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='https://kit.fontawesome.com/a076d05399.js')
        script(src='https://cdn.jsdelivr.net/npm/typed.js@2.0.11')
        

    body
        div(style={'background-color':'black', 'color':'white', 'padding-bottom':'310px'})
            img(src="./images/me.jpg")
            h1(style={'text-align':'center', 'margin-top':'-430px', 'margin-left':'530px'})= title
            .typewriter
                .typewriter-text Web Developer

        