extends layout

block content
  .nav 
    .nav-item
      .nav-link HOME

    .nav-item 
      .nav-link ABOUT ME

    .nav-item
      .nav-link PROJECTS

    .nav-item
      .nav-link SERVICES 

    .nav-item
      .nav-link CONTACT ME

  .jumbotron
    h1= title
    p Web Developer

      
    